:root {
  --body-bg-color: #fff;
  --body-alt-bg-color: #f1f1ec;
  --body-text-color: #21201e;

  --body-font-family: 'Manrope', Roboto, 'Helvetica Neue', Arial, "Noto Sans", sans-serif;
  --body-font-family-monospace: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";

  --theme-primary: #74b709;
  --theme-primary-light: #90db17;
  --theme-primary-dark: #598d06;
  --theme-secondary-rgb: 9 145 241;
  --theme-secondary: #0991f1;
  --theme-secondary-light: #41b0ff;
  --theme-secondary-dark: #0665a7;
  --theme-danger: #d11414;

  --theme-lt-grey: #c2c0b7;
  --theme-md-grey:  #a6a49c;
  --theme-grey: #6b6a64;
  --theme-dk-grey: #4c4b46;
}

/*****************
  Page Elements
*****************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--theme-dk-grey);
  background-color: var(--body-bg-color);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 200;
  line-height: 1.2;
  display: block;
  color: var(--theme-dk-grey);
}

h1, .h1 {
  font-size: 2.125rem;
  margin-bottom: 1rem;
}

h2, .h2 {
  font-size: 1.25rem;
}

p, ol, ul, .p {
  font-size: 1rem;
}

@media (min-width:768px) {

  h1, .h1 {
    font-size: 3.5rem;
  }
  
  h2, .h2 {
    font-size: 2.125rem;
  }

  p, ol, ul, .p {
    font-size: 1.25rem;
  }

}

p, .p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.h2, .h3, .h4, .h5, .h6, .p {
  display: block;
}

ol, ul {
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

b, strong {
  font-weight: bolder
}

small {
  font-size: .875em;
}

sub, sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a, a:hover {
  color: var(--theme-secondary);
  text-decoration: underline
}

a:hover {
  color: var(--theme-secondary-light);
}

code, pre {
  font-family: var(--body-font-family-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: .875em;
  -ms-overflow-style: scrollbar
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal
}

code {
  font-size: .875em;
  color: #d841ef;
  word-wrap: break-word
}

figure {
  margin: 0;
}

hr {
  margin: 2rem 0;
  border: 0 solid transparent;
  border-bottom: 1px solid var(--theme-lt-grey);
}

img, svg {
  vertical-align: middle
}

button, input {
  overflow: visible;
  text-transform: none;
  border-radius: 0;
}

button:focus {
  outline: 0 dotted;
  outline: 0 auto transparent;
}

button, input, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[role=button] {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

/*****************
  Utility
*****************/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -1.25rem;
}

.row .col {
  flex: 1 0 100%;
  padding: 0 1.25rem;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@media (min-width: 768px) {

  .row .col {
    flex: 1 0 0%;
  }

}


/*****************
  Buttons
*****************/

.btn {
  display: inline-block;
  line-height: 1.2;
  padding: .5rem 1.25rem;
  border-radius: 100rem;
  text-decoration: none;
  background-color: transparent;
  color: var(--theme-secondary);
  border: 1px solid var(--theme-secondary);
  transition: all .1s ease-out;
}

button.btn {
  cursor: pointer;
  font-size: 1.25rem;
}

.btn:hover {
  text-decoration: none;
  background-color: var(--theme-secondary-light);
  color: #fff;
  border: 1px solid var(--theme-secondary-light);
}

.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active {
  cursor: default !important;
  background-color: var(--body-alt-bg-color) !important;
  color: var(--theme-lt-grey) !important;
  border: 1px solid var(--theme-lt-grey) !important;
}

.btn-reset,
.btn-close {
  width: 2.5rem;
  border: 0 solid transparent;
  background-color: transparent;
  padding: 0;
  position: relative;
  z-index: 10;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: all .1s ease-out;
}

.btn-reset:focus,
.btn-close:focus {
  outline: 0 none;
}

.btn-reset > span,
.btn-close > span {
  display: block;
  font-size: 1rem;
  line-height: 2.5;
  height: 2.5rem;
  color: rgba(166,164,156,0);
  transition: all .1s ease-out;
}

.btn-reset > span::after,
.btn-reset > span::before,
.btn-close > span::after,
.btn-close > span::before {
  content: "";
  display: block;
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  transition: all .1s ease-out;
}

.btn-reset span::before,
.btn-close > span::before {
  border-top: 2px solid rgba(166,164,156,1);
  transform: rotate(45deg) translate(0, 50%);
  top: -1px;
  left: 1px;
}

.btn-reset span::after,
.btn-close > span::after {
  border-bottom: 2px solid rgba(166,164,156,1);
  transform: rotate(-45deg) translate(0, -50%);
  top: 0;
  left: 1px;
}

.btn-reset:hover,
.btn-close:hover {
  width: 2.95rem;
}

.btn-reset:hover span,
.btn-close:hover span {
  color: rgba(166,164,156,1);
}

.btn-reset:hover span::after,
.btn-reset:hover span::before,
.btn-close:hover span::after,
.btn-close:hover span::before {
  background-color: rgba(166,164,156,0);
  transform: rotate(0);
}

.btn-reset:hover span::before,
.btn-close:hover span::before {
  top: 0;
  border-top: 2px solid rgba(166,164,156,0);
}

.btn-reset:hover span::after,
.btn-close:hover span::after {
  bottom: 0;
  border-bottom: 2px solid rgba(166,164,156,0);
}

/*****************
  Cards
*****************/

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2rem;
}

.card {
  padding: 1.75rem;
  min-width: 100%;
  text-decoration: none;
  border-radius: .5rem;
  background-color: var(--body-bg-color);
  border: 1px solid var(--theme-lt-grey);
  box-shadow: 0 0 .35rem -.125rem rgba(33,32,30,.35);
}

.card .icn {
  width: 3.825rem;
  height: 3.825rem;
}

.card-link {
  text-decoration: none;
  border: 1px solid var(--theme-secondary);
  transition: all .1s ease-out;
}

.card-link:hover {
  text-decoration: none;
  border: 1px solid var(--theme-secondary-light);
  box-shadow: 0 0 .35rem -.25rem rgba(33,32,30,.125);
}

.card-link > .h2 {
  color: var(--theme-secondary);
}

.card-link > .h3, .card-link > .h4, .card-link > .h5, .card-link > .h6,
.card-link > .p {
  color: var(--theme-dk-grey);
}

.card-link:hover > .h2 {
  color: var(--theme-secondary-light);
}

.card-link:hover > .h3, .card-link:hover > .h4, .card-link:hover > .h5, .card-link:hover > .h6,
.card-link:hover > .p {
  color: var(--theme-md-grey);
}

@media (min-width: 768px) {

  .card {
    flex: 1 0 50%;
    min-width: 21.25rem;
    max-width: 47.25%;
  }

}

@media (min-width: 991px) {

  .card {
    flex: 1 0 33.333333%;
    min-width: 18.25rem;
    max-width: 30.666666%;
  }
  
}

@media (min-width: 1536px) {

  .card {
    flex: 1 0 25%;
    min-width: 23.5rem;
    max-width: 23.5%;
  }

}

/*****************
  Forms
*****************/

.form {
  position: relative;
  z-index: 10;
  clear: both;
  margin: 1rem 0;
  padding: 0 1.5rem;
  border-radius: .5rem;
  background-color: var(--body-bg-color);
  border: 1px solid var(--theme-secondary-light);
  border-top: .75rem solid var(--theme-secondary-light);
  box-shadow: .025rem .025rem .5rem -.125rem rgba(33,32,30,.35);
}

.form-group {
  position: relative;
  z-index: 5;
  margin: .5rem 0;
}

.form-group-divider {
  display: block;
  margin: 1.5rem -1.5rem;
  padding: 0;
  border: 0 solid transparent;
  border-top: 1px solid var(--body-alt-bg-color);
}

.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem -1.5rem 0;
  padding: .5rem 0 1rem;
  border-top: 1px solid var(--body-alt-bg-color);
}

.form-control {
  width: 100%;
  background: none;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
  display: block;
  border-radius: 1.5rem;
  border: 1px solid var(--theme-lt-grey);
  background-color: var(--body-bg-color);
  box-shadow: inset .05rem .05rem .1rem 0 rgba(33,32,30,.25);
  transition: all .1s ease-out;
}

textarea.form-control {
  border-radius: .5rem;
}

.form-control-search {
  padding-right: 4.125rem;
}

.form-control:focus {
  outline: none;
  border: 1px solid var(--theme-secondary);
  box-shadow: 0 0 .135rem 0 rgba(33,32,30,.45);
}

.form-label {
  color: var(--theme-md-grey);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.2;
  position: absolute;
  z-index: 5;
  pointer-events: none;
  left: 1.25rem;
  top: .8rem;
  background-color: rgba(255, 255, 255, 0);
  transition: all .1s ease-out;
}

.form-label::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: -.125rem;
  right: -.25rem;
  top: 50%;
  height: .135rem;
  background: linear-gradient(0deg, rgba(255,255,255,0) 35%, rgba(255,255,255,0) 65%); 
  transition: all .1s ease-out;
}

.form-control:focus ~ .form-label,
.valid ~ .form-label {
  left: 1.25rem;
  top: -.625rem;
  font-size: .95rem;
  color: var(--theme-secondary);
  background: linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(255,255,255,0) 65%); 
}

.valid ~ .form-label {
  color: var(--theme-md-grey);
}

.valid ~ .form-label::after,
.form-control:focus ~ .form-label::after {
  background-color: rgba(255, 255, 255, 1);
}

@media (min-width: 768px) {

  .form-group {
    margin: 1rem 0;
  }

  .form-actions {
    margin: 2rem -1.5rem 1rem;
    padding: 1rem 1.5rem .5rem;
  }

}

/* Feedback */

.form-feedback {
  display: none;
  visibility: hidden;
  min-height: 1.35rem;
  font-size: .75rem;
  line-height: 1;
  font-weight: 300;
  padding: .25rem .5rem;
  color: var(--body-bg-color);
  border-radius: 2px;
  background-color: var(--theme-danger);
}

.error > .form-feedback,
.form-feedback.success,
.form-feedback.danger {
  display: inline;
  visibility: visible;
}

.form-feedback.success {
  font-size: 1rem;
  background-color: var(--theme-primary);
}

.form-feedback.danger {
  font-size: 1rem;
  display: block;
}

.error > .form-feedback {
  position: absolute;
  bottom: -.65rem;
  left: 1rem;
}

.error > .form-control {
  border: 1px solid var(--theme-danger);
}

.error > .form-control ~ .form-label,
.error > .form-control:focus ~ .form-label {
  color: var(--theme-danger);
}

/* Input Reset */

.form-group > .btn-reset {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: .75rem;
}

.form-group > .btn-reset > span {
  line-height: 2;
  height: 2rem;
}

.form-group > .btn-reset:hover span {
  margin-left: -.25rem;
}

.form-group > .btn-reset > span::after,
.form-group > .btn-reset > span::before {
  height: 2rem;
  width: 2rem;
}

/* Helper Text */

.form-helper-text {
  color: var(--theme-grey);
  display: block;
  margin: -0.25rem 0 0 1rem;
}

.form-require-text {
  padding: 0 1rem;
  color: var(--theme-secondary-light);
}

/* Loader */

.loader {
  color: var(--theme-secondary);
  font-size: 1rem;
  line-height: 1.75rem;
}

.loader-icn {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 5.85rem;
  height: 1.75rem;
}

.loader-icn > span {
  position: absolute;
  top: .25rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: var(--theme-secondary);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-icn > span:nth-child(1) {
  left: .5rem;
  animation: ellipsis1 0.6s infinite;
}

.loader-icn > span:nth-child(2) {
  left: .5rem;
  animation: ellipsis2 0.6s infinite;
}

.loader-icn > span:nth-child(3) {
  left: 2.25rem;
  animation: ellipsis2 0.6s infinite;
}

.loader-icn > span:nth-child(4) {
  left: 4rem;
  animation: ellipsis3 0.6s infinite;
}

@keyframes ellipsis1 {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes ellipsis3 {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}

@keyframes ellipsis2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(1.75rem, 0); }
}


/*****************
  Header
*****************/

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  padding: 1.5rem 1.25rem;
  margin: 0;
  background-color: var(--body-bg-color);
  box-shadow: 0 0 .35rem -.125rem rgba(33,32,30,.25);
}


/*****************
  Page Side Column
*****************/

.aside {
  width: 100%;
  background-color: transparent;
  box-shadow: 0 0 .35rem -.125rem rgba(33,32,30,.25);
}

.aside-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
  padding: 1.5rem 1.25rem;
  background-color: var(--body-bg-color);
}

.aside .btn-nav {
  background-color: transparent;
  padding: 0;
  position: relative;
  text-align: center;
  cursor: pointer;
  padding: .25rem 0;
  text-decoration: none;
  color: var(--theme-secondary);
  border: 1px solid transparent;
  border-top: 1px solid var(--theme-secondary);
  border-bottom: 1px solid var(--theme-secondary);
  transition: all .1s ease-out;
}

.aside .btn-nav:hover {
  background-color: var(--theme-secondary-light);
  color: var(--body-bg-color);
  border: 1px solid var(--theme-secondary-light);
}

.aside .nav-vertical {
  padding: .5rem 0 1.25rem;
  background-color: var(--body-alt-bg-color);
  border-top: 1px solid rgba(0,0,0,0.0625);
}

.aside .nav-link {
  width: 100%;
  padding: .75rem 1.25rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255,255,255,0);
  transition: all .1s ease-out;
}

.aside .nav-link.active,
.aside .nav-link.active:hover {
  cursor: default;
  color: var(--theme-secondary-light);
  border-right: 1px solid var(--theme-secondary-light);
  background-color: rgba(255,255,255,1);
}

.aside .nav-link:hover {
  background-color: rgba(255,255,255,0.25);
}

.aside .nav-link + .nav-link {
  border-top: 1px solid var(--body-bg-color);
}

.aside .nav-link .icn {
  width: 2.125rem;
  height: 2.125rem;
  background-color: var(--theme-secondary);
  color: var(--body-bg-color);
  margin: 0 .5rem 0 0;
  padding: .35rem;
  border-radius: 5rem;
  transition: all .1s ease-out;
}

.aside .nav-link:hover .icn {
  background-color: var(--theme-secondary-light);
  color: rgba(255,255,255,0.65);
}

.aside .nav-link.active .icn,
.aside .nav-link.active:hover .icn {
  background-color: var(--theme-secondary-light);
  color: rgba(255,255,255,0.65);
}

@media (max-width: 991px) {

  .aside .nav-vertical {
    position: absolute;
    z-index: 95;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translate(0, -125%);
    transition: all .15s ease-out;
  }

  .aside .overlay-close {
    position: fixed;
    z-index: -1;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    cursor: default;
    border: 0 solid transparent;
    color: transparent;
    background-color: transparent;
  }

  .aside.active .overlay-close {
    z-index: 90;
    width: 100%;
    height: 100vh;
  }

  .aside.active .nav-vertical {
    opacity: 1;
    transform: translate(0, 0);
  }

}

/* @media (min-width: 768px) {} */

@media (min-width: 992px) {

  .aside {
    background-color: var(--body-alt-bg-color);
  }

  .aside .btn-nav,
  .aside .overlay-close {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;;
  }
  
  .aside .nav-vertical {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .5rem 0 1.5rem;
  }

  .two-col .aside { 
    width: auto;
    flex: 0 1 320px;
  }

}

/* Logo */

.logo {
  position: relative;
  color: var(--theme-primary);
  text-decoration: none;
  text-align: center;
  padding: .25rem .65rem;
  border-right: 1px solid var(--theme-lt-grey);
  border-left: 1px solid var(--theme-lt-grey);
  transition: all .15s ease-in-out;
}

.logo:hover {
  text-decoration: none;
  color: var(--theme-primary-dark);
  border-right: 1px solid var(--body-alt-bg-color);
  border-left: 1px solid var(--body-alt-bg-color);
}

.logo::before,
.logo::after,
.logo > strong::before,
.logo > strong::after,
.logo > small::before,
.logo > small::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--theme-lt-grey);
  transition: all .15s ease-in-out;
}

.logo:hover::before,
.logo:hover::after,
.logo:hover > strong::before,
.logo:hover > strong::after,
.logo:hover > small::before,
.logo:hover > small::after {
  background-color: var(--body-alt-bg-color);
}

.logo::before,
.logo::after,
.logo > strong::before,
.logo > strong::after,
.logo > small::before,
.logo > small::after {
  height: 1px;
  width: .35rem;
}

.logo::before,
.logo::after {
  top: 0;
  left: 0;
}

.logo > strong {
  font-size: 1.5rem;
  font-weight: 200;
}

.logo > strong::before,
.logo > strong::after {
  bottom: 0;
  left: 0;
}

.logo::after,
.logo > strong::after {
  left: auto;
  right: 0;
}

.logo > strong > span,
.logo > small {
  display: none;
}

@media (min-width: 768px) {

  .logo {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    border: 0 solid transparent;
    padding: .35rem 1.35rem .6rem 1.05rem;
  }

  .logo::before,
  .logo::after,
  .logo > strong::before,
  .logo > strong::after,
  .logo > small::before,
  .logo > small::after {
    background-color: var(--theme-lt-grey);
    transition: all .15s ease-in-out;
  }

  .logo::before,
  .logo::after {
    width: 1px;
    height: auto;
    bottom: 0;
  }

  .logo > strong > span,
  .logo > small {
    display: inline;
  }

  .logo > strong,
  .logo > small {
    line-height: 1.2;
    transition: all .15s ease-in-out;
  }

  .logo > strong {
    color: var(--theme-primary);
    font-size: 1.825rem;
    font-weight: 200;
  }

  .logo > small {
    font-size: .825rem;
    font-weight: 300;
    color: var(--theme-md-grey);
  }

  .logo > strong::before,
  .logo > strong::after,
  .logo > small::before,
  .logo > small::after {
    height: 1px;
    width: .35rem;
  }

  .logo > strong::before,
  .logo > small::before {
    left: 0;
  }

  .logo > strong::after,
  .logo > small::after {
    right:  0
  }

  .logo > strong::before,
  .logo > strong::after {
    top: 0;
    bottom: auto;
  }

  .logo > small::before,
  .logo > small::after {
    top: auto;
    bottom: 0; 
  }

  .logo:hover {
    border: 0 solid transparent;
  }

  .logo:hover::before,
  .logo:hover::after,
  .logo:hover > strong::before,
  .logo:hover > strong::after,
  .logo:hover > small::before,
  .logo:hover > small::after {
    background-color: var(--body-alt-bg-color);
  }

  .logo:hover::before,
  .logo:hover::after,
  .logo:hover > strong::before,
  .logo:hover > strong::after {
    top: .625rem;
  }

  .logo:hover::before,
  .logo:hover::after,
  .logo:hover > small::before,
  .logo:hover > small::after {
    bottom: .625rem;
  }

  .logo:hover::before,
  .logo:hover > strong::before,
  .logo:hover > small::before {
    left: .35rem;
  }

  .logo:hover::after,
  .logo:hover > strong::after,
  .logo:hover > small::after {
    right: .35rem;
  }

  .logo:hover > strong {
    color: var(--theme-primary-dark);
  }

  .logo:hover > small {
    color: var(--theme-primary);
  }

}

@media (min-width: 992px) {

  .logo {
    padding: .5rem 1.5rem .75rem 1.25rem;
  }

  .logo::before,
  .logo::after {
    width: 2px;
  }

  .logo > strong {
    font-size: 2.125rem;
  }

  .logo > small {
    font-size: 1rem;
  }

  .logo > strong::before,
  .logo > strong::after,
  .logo > small::before,
  .logo > small::after {
    height: 2px;
  }

}

/*****************
  Content Area
*****************/

.main {
  flex: 1;
}

.main.two-col {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

.col-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  padding: 1.25rem;
}

@media (min-width: 768px) {

  .one-col .section {
    flex: 1 1 auto;
  }

}

@media (min-width: 992px) {

  .main.two-col {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
  }

  .two-col .section {
    padding: 1.75rem 2rem;
    flex: 1 1 auto;
  }

  .one-col .section {
    padding: 1.75rem 2rem;
  }

}

@media (min-width: 1536px) {

  .two-col .section {
    padding: 1.75rem 2.25rem;
  }

}

/*****************
  Page Footer
*****************/

.footer {
  text-align: center;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer > p {
  font-size: .95rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {}

/*****************
  Icons
*****************/

.icn {
  max-width: 100%;
  height: auto;
}

/*****************
  404 Page
*****************/

.not-found {
  display: flex;
  flex-direction: column;
  background-color: rgba(33,32,30,.025);
}

/*****************
  Dashboard
*****************/

.dashboard {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-bg-color);
  background-image:  linear-gradient(rgba(33,32,30,.0135) 2px, transparent 2px), linear-gradient(90deg, rgba(33,32,30,.0135) 2px, transparent 2px), linear-gradient(rgba(33,32,30,.0135) 1px, transparent 1px), linear-gradient(90deg, rgba(33,32,30,.0135) 1px, rgba(33,32,30,.0135) 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.dashboard h1 {
  color: var(--theme-primary);
  margin: 0 0 .35rem;
}

.dashboard h1 + p {
  margin-bottom: 2rem;
}

.dashboard .inspirational-quote {
  margin-top: 1rem;
}

.dashboard .col-main .section::after {
  display: block;
  content: "";
  width: 235px;
  height: 159px;
  margin: 2rem auto;
  background-color: transparent;
  background-image: url('../../public/images/AdamsCoffeeShop.webp');
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: cover;
  box-shadow: 0 0 2rem 1rem rgba(255,255,255,1), 0 0 .5em .25rem rgba(255,255,255,1), 0 0 .25rem 0 rgba(255,255,255,1);
}

@media (min-width: 768px) {

  .dashboard .col-main .section::after {
    position: fixed;
    z-index: 0;
    width: 185px;
    height: 125px;
    bottom: 1.25rem;
    right: 1.25rem;
  }

}

@media (min-width: 992px) {

  .dashboard h1 {
    margin: 1rem 0 .35rem;
  }
  
  .dashboard h1 + p {
    margin-bottom: 3rem;
  }

  .dashboard .col-main .section::after {
    width: 235px;
    height: 159px;
    bottom: 1.75rem;
    right: 2rem;
  }

}


/*****************
  Content Analysis
*****************/

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-bg-color);
  background-image:  linear-gradient(rgba(33,32,30,.0135) 2px, transparent 2px), linear-gradient(90deg, rgba(33,32,30,.0135) 2px, transparent 2px), linear-gradient(rgba(33,32,30,.0135) 1px, transparent 1px), linear-gradient(90deg, rgba(33,32,30,.0135) 1px, rgba(33,32,30,.0135) 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.social-media h1 {
  margin-bottom: 2rem;
}


/*****************
  HTML Generation
*****************/

.html-generation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-bg-color);
  background-image:  linear-gradient(rgba(33,32,30,.0135) 2px, transparent 2px), linear-gradient(90deg, rgba(33,32,30,.0135) 2px, transparent 2px), linear-gradient(rgba(33,32,30,.0135) 1px, transparent 1px), linear-gradient(90deg, rgba(33,32,30,.0135) 1px, rgba(33,32,30,.0135) 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.html-generation h1 {
  margin-bottom: 2rem;
}